*{
    padding: 0;
    margin: 0;
}

img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

header .logo img{
    width: 150px;
}

.col2{
    flex-grow: 2;
}

.btn{
    padding: 10px;
    border: 1px solid;
    border-radius: 3px;
    background-color: transparent;
}

header{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}

header li{
    padding: 10px;
}

header a{
    font-size: 20px;
}

/* .row1{
    width: 600px;
    height: 500px;
    border: 1px solid;
    margin: 10px;
} */

/* .row img{
    height: 300px;
    object-position: bottom;
} */

/* .col{
    width: 200px;
    height: 200px;
    border: 1px solid;
    margin: 5px;
} */

/* .col2{
    flex-grow: 2;
} */