*{
    padding: 0;
    margin: 0;
}

.hero1{
    /* background-image: url(https://images.pexels.com/photos/1054655/pexels-photo-1054655.jpeg?cs=srgb&dl=pexels-hsapir-1054655.jpg&fm=jpg); */
    height: 100vh;
    /* background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom; */
    background: url(https://images.pexels.com/photos/1054655/pexels-photo-1054655.jpeg?cs=srgb&dl=pexels-hsapir-1054655.jpg&fm=jpg) no-repeat fixed right bottom;
    background-size: cover;
    /* overflow-y: scroll; */
    overflow: auto;
    color: #fff;
    text-shadow: 0px 0px 10px;
    margin-bottom: 50px;
}

/* overflow: hidden scroll auto */


.hero{
    border: 1px solid;
    padding: 10px;
    margin: 0 10px;
    height: 100vh;
}

.hero .part{
    padding: 10px;
    border: 1px solid;
    margin-bottom: 10px;
    width: 200px;
    /* display: inline-block; */
}

.btn{
    padding: 10px;
    display: none;
}

.part:hover .btn{
    display: initial;
}

.row{
    /* margin: auto;
    width: fit-content; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

/* justify-content: start end center space-between space-around space-evenly */
/* align-items: start end center */